# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment/secret files
*.env

# Ignore big CSV datasets (but keep small sample)
data/*.csv
!data/stock_data.csv
